{{> navbar }}

<div class='container-fluid padding'>
  <div class='row welcome text-center'>
    <div class='col-12'>
      <h3 class='display-4'>Podcast Search Results</h3>
      <hr class="my-4 wow">
    </div>

  </div>
</div>



<div class='container-fluid padding'>

  <div class='row padding'>
    {{#each allResults}}
    <div class='col-md-3'>
      <div class='card'>
        <a href="{{this.origin}}/details/{{this.id}}"><img class='card-img-top' src="{{this.imageURL}}"></a>
        <div class='card-body'>
          <p class="card-text"><a href="{{this.origin}}/details/{{this.id}}">{{this.title}}</a></p>
          <form action="/{{this.origin}}/{{this.id}}/addtofavorite" method="post">
            <button class="btn btn-outline-secondary btn-sm">Add to favorites</button>
          </form>
          <a class="btn btn-outline-secondary btn-sm" href="{{this.origin}}/details/{{this.id}}">Show details</a>

        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>

{{!-- </div> --}}





</div>
{{!-- {{#each resultsOverviewSPotify}}
  <div>
    <h2><a href="spotify/details/{{this.id}}">{{this.name}}</a></h2>
    <img class="podcastImg" src="{{this.images.[1].url}}">
    <form action="/spotify/{{this.id}}/addtofavorite" method="post">
      <button>Add to favorites</button>
    </form>

  </div>
  {{/each}} --}}