{{> navbar }}

<form action="/details/:showId" , method="GET"></form>
<section class="podcastDetails">

  <div>
    <h2>{{podcasts.title}}</h2>
    <img class="podcastImg" src="{{podcasts.image}}">
    <form action="/listennotes/{{podcasts.id}}/addtofavorite" method="post">
      <button class="btn btn-outline-secondary btn-sm">Add to favorites</button>
    </form>
     <form action="/listennotes/details/{{podcasts.id}}/newcomment" method="POST">
            <textarea name="content" id="comment-content-input" cols="60" rows="1"></textarea>
{{#if beingCommentingUser}}
<input class="btn btn-outline-secondary btn-sm" type="submit" value="Change your comment">
{{else}}
            <input class="btn btn-outline-secondary btn-sm" type="submit" value="Comment a Podcast">
            {{/if}}


            {{!-- <input class="btn btn-outline-secondary btn-sm" type="submit" value="Comment a Podcast"> --}}
        </form>
    <h4>Description</h4>
    <p>{{podcasts.description}}</p>
  <h5>Comments:</h5>
        {{#each ourpodcasts.comments}}
        <li>{{this.content}}</li>
        {{/each}}
        <h5>Rate: {{ratingResults}}</h5>
        <form id="starButton" action="/listennotes/details/{{podcasts.id}}/newrating" method="POST">
            <textarea type='text' name="content" id="rating-content-input" cols="1" rows="1"></textarea>

            {{!-- {{#if beingUser}}
            <input class="btn btn-outline-secondary btn-sm" type="submit" value="Change your rating">
            {{else}}
             <input class="btn btn-outline-secondary btn-sm" type="submit" value="Rate a Podcast">
            {{/if}} --}}
            <div class="rating">
                <i class="fa fa-star unchecked" id="one" name="content"></i>
                <i class="fa fa-star unchecked" id="two" name="content"></i>
                <i class="fa fa-star unchecked" id="three" name="content"></i>
                <i class="fa fa-star unchecked" id="four" name="content"></i>
                <i class="fa fa-star unchecked" id="five" name="content"></i>
            </div>
        </form>


  <h5>Publisher: {{podcasts.publisher}}</h5>
  <h5>Number of episodes: {{podcasts.total_episodes}}</h5>
  <h5>Last episodes: </h5>
  {{#each podcasts.episodes}}
  <div>
  <li>{{this.title}}</li>
  <img class="podcastDetailImg" src="{{this.thumbnail}}">
  <p>Release date: {{this.pub_date_ms}}</p>
  <p id="listennotes-description">{{{this.description}}}</p>
  <p><a href="{{this.link}}" target="_blank">Listen now</a></p>
  <form action="/listennotes/details/{{../podcasts.id}}/{{this.id}}/addtoplaylist" method="POST">
        <input  class="btn btn-outline-secondary btn-sm" type="submit" value="Bookmark this episode">
  </form>
  {{/each}}
</section>
