{{> navbar }}
<div class="playlist-box container col vertical-center">

  <div class="container">
    <div class="list-title vertical-center">
      <h4 class="text-center">Bookmarked</h4>
      <p class="text-center">Here are the episodes you've bookmarked so far. <br><em>Click on the search button to
          explore and add.</em></p>
      <a href="/search"><button class="btn btn-lg btn-outline-secondary col vertical-center"
          title="search podcasts">Search and bookmark episodes</button></a>
      <div class="col">
          <div class="col dropdown">
            <button class="btn m-2 btn-md btn-outline-secondary col vertical-center">See your playlists</button>
            <div class="dropdown-content">
              {{#each playlistsAll}}
              <a href="/playlists/{{this.playlistName}}">{{this.playlistName}}</a>
              {{/each}}
              <a href="/bookmarks/new">Create new</a>
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-3">
    <h4 class="text-center">{{playlistObject.name}}</h4>
        <hr class="mb-3">

    {{#each playlistObject.content}}
    <div class="col align-self-center vertical-center">
      <div>
        <h5>{{this.title}}</h5>
      </div>
      <div>
        <p>{{this.podcast}}</p>
      </div>
      <div class="row">
        <div class="col">
          <a href="{{this.link}}" target="blank"><button class="btn btn-sm btn-outline-secondary">Listen
              now</button></a>
        </div>
        <div class="form-group">
          <form action="/bookmarks/{{this.source}}/{{this.id}}" type="submit" method="POST">
            <select class="form-control form-control-sm" name="selectpicker">
              <option value="default">Move to a playlist</option>
              {{#each ../playlistsAll}}
              <option value="{{playlistName}}" name="playlist">{{playlistName}}</option>
              {{/each}}
            </select>
            <button class="btn btn-sm btn-success">Move</button>
          </form>
          <div>
          </div>
        </div>
        <div class="col">
          <form action="/bookmarks/{{../playlistObject.name}}/{{this.id}}/delete" type="submit" method="POST">
            <button class="btn btn-sm btn-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
    <hr class="mb-3">
    {{/each}}
  </div>
</div>