<h3>My playlists</h3>
<div id="playlists-container">
  <h4>{{playlistObject.name}}</h4>
  {{#each playlistObject.content}}
  <div class="episode-container">
    <div class="episode-image">
      <img src="{{this.image}}">
    </div>
    <div>
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
      <a href="{{this.link}}" target="blank"><button>Listen now</button></a>
    </div>
  </div>

  {{/each}}
</div>