{{> navbar }}
{{!-- <div class="playlist-box container col vertical-center"> --}}
  <div class="container col vertical-center">

  {{!-- <div class="container"> --}}
     <div class='col-12 text-center mt-5'>
       <div class="list-title vertical-center">
    {{!-- <div class="list-title vertical-center"> --}}
      <h2><a class='bookmarked' href="/playlists/bookmarked">My Bookmarks</a></h2>
      <h4 class='bookmarked'>Your Playlists and Bookmarked Episodes.</h4> 
       <h6 class='mt-4'> Click on the
          search button to
          explore and add. 
          <strong>Bookmarked</strong> is your default playlist.
          </h6>

    </div>      
    <div class="playlist-box container col vertical-center">
      <a href="/search"><button class="btn mt-4 px-2 btn-md btn-outline-secondary col vertical-center"
          title="search podcasts">Search and bookmark</button></a>
      <div class="col">
        <div class="col dropdown">
          <button class="btn mt-4 px-2 btn-md btn-outline-secondary col">See and create playlists</button>
          <div class="dropdown-content">
            {{#each playlistsAll}}
            <a href="/playlists/{{this.playlistName}}">{{this.playlistName}}</a>
            {{/each}}
            <a href="/bookmarks/new">Create new</a>
          </div>
        </div>
      </div>
    
    
    <hr class="mb-3">
    {{#if playlistObject.default}}
    <h4 class="text-center">{{playlistObject.name}}</h4>
    <hr class="mb-3">

    {{else}}
    <h4 class="text-center">{{playlistObject.name}}
      <a href="/playlist/{{playlistObject.name}}/edit"><img id="edit-img"
          src="/images/edit.png"></a>
      <form action="/playlist/{{playlistObject.id}}/delete" type="submit" method="POST">
        <button class="btn mt-2 btn-sm btn-remove">Delete</button></form>
    </h4>
    <hr class="mb-3">

    {{/if}}

    {{#each playlistObject.content}}
    <div class="col align-self-center vertical-center">
      <div>
        <h5>{{this.title}}</h5>
      </div>
      <div>
        <p>{{this.podcast}}</p>
      </div>
      <div class="row">
        <div class="col">
          <a href="{{this.link}}" target="blank"><button class="btn btn-sm btn-outline-secondary">Listen
              now</button></a>
        </div>
        <div class="form-group col">
          <form action="/bookmarks/{{this.source}}/{{this.id}}" method="POST">
            <select class="form-control form-control-sm" name="selectpicker" required aria-invalid="false"
              onchange="this.form.submit()">
              <option value="">Move to...</option>
              {{#each ../playlistsAll}}
              <option value="{{playlistName}}" name="playlist">{{playlistName}}</option>
              {{/each}}
            </select>
          </form>
          <div>
          </div>
        </div>
        <div class="col">
          <form action="/bookmarks/{{../playlistObject.name}}/{{this.id}}/delete" method="POST">
            <input type="submit" class="btn btn-sm btn-remove" value="Remove"></input>
          </form>
        </div>
      </div>
    </div>
    <hr class="mb-3">
    {{/each}}
    </div>
  </div>
  </div> 
