{{> navbar }}

{{#if user}}
<h2>{{ user.username }} - Profile page</h2>
<form action="/logout" method="post">
  <button class="btn btn-outline-secondary btn-sm">Logout</button>
</form>
<a href="/myplaylists"><button>My playlists</button></a>

<h3>My favorite Podcasts</h3>
{{#each podcasts}}

{{#if this.body.listennotes_url}}
<p>{{this.body.title}} - {{this.body.publisher}}</p>
<img class="podcastImg" src="{{this.body.image}}">
<p><a href="/listennotes/details/{{this.body.id}}">Show Details</a></p>
<form action="/listennotes/delete/{{this.body.id}}" method="post">
  <button class="btn btn-outline-secondary btn-sm">Remove from favorites</button>
</form>

{{else}}
<p>{{this.body.name}} - {{this.body.publisher}}</p>
<img class="podcastImg" src="{{this.body.images.[1].url}}">
<p><a href="/spotify/details/{{this.body.id}}">Show Details</a></p>
<form action="/spotify/delete/{{this.body.id}}" method="post">
  <button class="btn btn-outline-secondary btn-sm">Remove from favorites</button>
</form>

{{/if}}
{{/each}}


{{else}}
<p>You are logged out. Please log in or sign up to continue.</p>
{{/if}}